#paleta{
    width: 90vw;
    height:46vh;
    border-bottom: 1px solid silver;

}
#conteudo{
    width: 100vw; 
    height: 70vh; 
}

table {
    width: 90%;
}

td {
    width: 20px;
    height: 25px;
    cursor:pointer;
}